// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.question {
  background-color: #FAFFD8;
  color: black;
  width: 60vh;
  padding: 0.5em;
  margin: 1em;
  border-left: solid;
  border-left-width: 3px;
  border-left-color: #aaaaaa;
}

.answer {
  background-color: #0275d8;
  color: black;
  width: 60vh;
  padding: 0.5em;
  margin: 1em;
  border-left: solid;
  border-left-width: 3px;
  border-left-color: black;
}

a {
  text-decoration: none;
  margin: 1em;
  padding: 0.5em;
    &:hover {
    color: black;
    text-decoration: none;
  }
}
